html { margin: 0; padding: 0; border: 0; }

.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, blockquote, q, th, td, caption, table, div, span, object, iframe, p, pre, a, abbr, acronym, address, code, del, dfn, em, img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

blockquote, q { quotes: "" ""; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }

th, td, caption { float: none !important; text-align: left; font-weight: normal; vertical-align: middle; }

table { border-collapse: separate; border-spacing: 0; vertical-align: middle; }

a img { border: none; }

li { list-style-type: none; }

/*******************************/
/********** Position ***********/
/*******************************/
.inline { display: inline; }

.center { margin: 0 auto; }

.float-left, .audio-container ul.tracks > li ul, .audio-container .track-name { display: inline; float: left; }

.float-right { display: inline; float: right; }

.hidden { display: none; }

.display-block, .bkg-list li a, .control-list > li > a, .audio-container ul.tracks > li ul > li > a, .audio-container .main-control ul > li > a, .control-list > li.solo a span, .audio-container ul.tracks > li ul > li.solo a span, .audio-container .main-control ul > li.solo a span, .audio-container ul.tracks > li { display: block; }

.fixed { position: fixed; }

.relative, .audio-container .main-control, .expandable > :first-child a { position: relative; }

.absolute, .audio-container .main-control ul, .audio-container .main-control .timebar-wrapper .timebar { position: absolute; }

.invisible { visibility: hidden; }

.no-overflow { overflow: hidden; }

.scroll { overflow: auto; scroll: auto; }

.inline-block-list, .control-list, .audio-container ul.tracks > li ul, .audio-container .main-control ul { margin: 0; padding: 0; border: 0; overflow: hidden; *zoom: 1; }
.inline-block-list li, .control-list li, .audio-container ul.tracks > li ul li, .audio-container .main-control ul li { list-style-image: none; list-style-type: none; margin-left: 0; display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; white-space: nowrap; }

.inline-block-list-item, .control-list > li, .audio-container ul.tracks > li ul > li, .audio-container .main-control ul > li, .control-list > li > a, .audio-container ul.tracks > li ul > li > a, .audio-container .main-control ul > li > a { list-style-image: none; list-style-type: none; margin-left: 0; display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; white-space: nowrap; }

@-webkit-keyframes open-sub-expand { 0% { opacity: 0; max-height: 0; }
  100% { opacity: 1; max-height: 3000px; display: block; } }

@-moz-keyframes open-sub-expand { from { opacity: 0; max-height: 0; display: none; }
  to { opacity: 1; max-height: 3000px; display: block; } }

@-webkit-keyframes close-sub-expand { 0% { opacity: 1; max-height: 3000px; display: block; }
  100% { opacity: 0; max-height: 0; display: none; } }

@-moz-keyframes close-sub-expand { from { opacity: 1; max-height: 3000px; display: block; }
  to { opacity: 0; max-height: 0; display: none; } }

/*******************************/
/************ Texts ************/
/*******************************/
/* other text styles */
.t-left, .bkg-list li a { text-align: left; }

.t-right { text-align: right; }

.t-center { text-align: center; vertical-align: middle; }

.t-justify { text-align: justify; }

.t-hide, .control-list > li > a, .audio-container ul.tracks > li ul > li > a, .audio-container .main-control ul > li > a, .control-list > li.solo a span, .audio-container ul.tracks > li ul > li.solo a span, .audio-container .main-control ul > li.solo a span, .audio-container .loader, .audio-container .loading-link, .audio-container .status { text-indent: -3333px; overflow: hidden; }

.t-caps, .button { text-transform: uppercase; }

.t-lower { text-transform: lowercase; }

.t-no-select { -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -o-user-select: none; user-select: none; }

/*******************************/
/********* Bloc styles *********/
/*******************************/
.no-background { background: none !important; }

body.high-graphics .css-transition-all, body.high-graphics .bkg-link, body.high-graphics .bkg-list li a, .bkg-list li body.high-graphics a, body.high-graphics .button, body.high-graphics .control-list > li > a, body.high-graphics .audio-container ul.tracks > li ul > li > a, .audio-container ul.tracks > li body.high-graphics ul > li > a, body.high-graphics .audio-container .main-control ul > li > a, .audio-container .main-control body.high-graphics ul > li > a, body.high-graphics .audio-container .tracks, .audio-container body.high-graphics .tracks, body.high-graphics .audio-container .main-control, .audio-container body.high-graphics .main-control, body.high-graphics .audio-container .loading-link, .audio-container body.high-graphics .loading-link, body.high-graphics .audio-container canvas, .audio-container body.high-graphics canvas, body.high-graphics .basic-expandable .icon-expand, .basic-expandable body.high-graphics .icon-expand, body.high-graphics .expandable .icon-expand, .expandable body.high-graphics .icon-expand, body.high-graphics .basic-expandable .icon-reduce, .basic-expandable body.high-graphics .icon-reduce, body.high-graphics .expandable .icon-reduce, .expandable body.high-graphics .icon-reduce, body.high-graphics .expandable > :first-child a, .expandable > :first-child body.high-graphics a { -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }

.bkg-gradient { background: url("../i/bkgGradient.png") repeat-x scroll 0 0 transparent; }

.bkg-picto, .control-list > li > a, .audio-container ul.tracks > li ul > li > a, .audio-container .main-control ul > li > a, .control-list > li.solo a span, .audio-container ul.tracks > li ul > li.solo a span, .audio-container .main-control ul > li.solo a span, .audio-container .loader, .audio-container .loading-link, .audio-container .status, .icon-expand, .icon-reduce { background: url("../i/bkgLowRes.png") no-repeat scroll 0 0 transparent; }

.bkg-link-hover, .bkg-link:hover, .bkg-list li a:hover, .button:hover, .control-list > li > a:hover, .audio-container ul.tracks > li ul > li > a:hover, .audio-container .main-control ul > li > a:hover { border-color: #CCC; background-color: #DADADA; color: #444; }
body.high-graphics .bkg-link-hover, body.high-graphics .bkg-link:hover, body.high-graphics .bkg-list li a:hover, .bkg-list li body.high-graphics a:hover, body.high-graphics .button:hover, body.high-graphics .control-list > li > a:hover, body.high-graphics .audio-container ul.tracks > li ul > li > a:hover, .audio-container ul.tracks > li body.high-graphics ul > li > a:hover, body.high-graphics .audio-container .main-control ul > li > a:hover, .audio-container .main-control body.high-graphics ul > li > a:hover { -webkit-box-shadow: 0 0 15px white; -moz-box-shadow: 0 0 15px white; box-shadow: 0 0 15px white; }

.bkg-link, .bkg-list li a, .button, .control-list > li > a, .audio-container ul.tracks > li ul > li > a, .audio-container .main-control ul > li > a { color: #4b4b4b; background-color: white; border: 1px solid #CCC; }
.bkg-link:visited, .bkg-list li a:visited, .button:visited, .control-list > li > a:visited, .audio-container ul.tracks > li ul > li > a:visited, .audio-container .main-control ul > li > a:visited { color: #4b4b4b; }
.bkg-link:focus, .bkg-list li a:focus, .button:focus, .control-list > li > a:focus, .audio-container ul.tracks > li ul > li > a:focus, .audio-container .main-control ul > li > a:focus { color: #f4dbac; }
.bkg-link:hover, .bkg-list li a:hover, .button:hover, .control-list > li > a:hover, .audio-container ul.tracks > li ul > li > a:hover, .audio-container .main-control ul > li > a:hover { color: #f4dbac; }
.bkg-link:active, .bkg-list li a:active, .button:active, .control-list > li > a:active, .audio-container ul.tracks > li ul > li > a:active, .audio-container .main-control ul > li > a:active { color: #f4dbac; }

.bkg-list li { margin: 3px 0; list-style-image: none; list-style-type: none; margin-left: 0; }

.button { padding: 4px 12px; font-size: 0.9em; line-height: 1em; }

.control-list, .audio-container ul.tracks > li ul, .audio-container .main-control ul { display: inline !important; }

.control-list > li > a, .audio-container ul.tracks > li ul > li > a, .audio-container .main-control ul > li > a { overflow: hidden; width: 30px; height: 30px; }
.control-list > li.active a, .audio-container ul.tracks > li ul > li.active a, .audio-container .main-control ul > li.active a { background-color: #444 !important; }
.control-list > li.mute a, .audio-container ul.tracks > li ul > li.mute a, .audio-container .main-control ul > li.mute a { background-position: -100px 0; }
.control-list > li.mute.active a, .audio-container ul.tracks > li ul > li.mute.active a, .audio-container .main-control ul > li.mute.active a { background-position: -100px -30px; }
.control-list > li.solo a, .audio-container ul.tracks > li ul > li.solo a, .audio-container .main-control ul > li.solo a { background-position: 30px 30px; }
.control-list > li.solo a span, .audio-container ul.tracks > li ul > li.solo a span, .audio-container .main-control ul > li.solo a span { overflow: hidden; width: 30px; height: 30px; background-position: -130px 0; }
.control-list > li.solo.active a span, .audio-container ul.tracks > li ul > li.solo.active a span, .audio-container .main-control ul > li.solo.active a span { background-position: -130px -30px; }
.control-list > li.play a, .audio-container ul.tracks > li ul > li.play a, .audio-container .main-control ul > li.play a { background-position: 2px 2px; }
.control-list > li.play.active a, .audio-container ul.tracks > li ul > li.play.active a, .audio-container .main-control ul > li.play.active a { background-position: 2px -28px; }
.control-list > li.pause a, .audio-container ul.tracks > li ul > li.pause a, .audio-container .main-control ul > li.pause a { background-position: -28px 2px; }
.control-list > li.pause.active a, .audio-container ul.tracks > li ul > li.pause.active a, .audio-container .main-control ul > li.pause.active a { background-position: -28px -28px; }
.control-list > li.stop a, .audio-container ul.tracks > li ul > li.stop a, .audio-container .main-control ul > li.stop a { background-position: -58px 2px; }
.control-list > li.stop.active a, .audio-container ul.tracks > li ul > li.stop.active a, .audio-container .main-control ul > li.stop.active a { background-position: -58px -28px; }
.control-list > li.repeat a, .audio-container ul.tracks > li ul > li.repeat a, .audio-container .main-control ul > li.repeat a { background-position: -240px 0px; }
.control-list > li.repeat.active a, .audio-container ul.tracks > li ul > li.repeat.active a, .audio-container .main-control ul > li.repeat.active a { background-position: -240px -30px; }

h1 { font-size: 1.7em; line-height: 1.7em; padding-left: 5px; }

h2 { font-size: 1.3em; line-height: 1.3em; padding-left: 5px; }

.audio-container { padding: 5px; position: relative; background: #EEE; font-family: Helvetica, Arial, Verdana; }
.audio-container .loader { display: none; width: 37px; height: 37px; position: absolute; right: 50%; margin-right: -18px; top: 50%; margin-top: -18px; background-position: -160px -15px; }
.audio-container .loading-link { display: none; width: 47px; height: 47px; position: absolute; right: 50%; margin-right: -18px; top: 50%; margin-top: -18px; background-color: rgba(255, 255, 255, 0.6); background-position: -270px -6px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
.audio-container .loading-link:hover { background-color: rgba(255, 255, 255, 0.9); -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); }
.audio-container .status { display: none; width: 16px; height: 29px; float: left; background-position: -208px -14px; }
.audio-container:not(.ready):not(.error):not(.waiting) .tracks, .audio-container:not(.ready):not(.error):not(.waiting) .main-control, .audio-container:not(.ready):not(.error):not(.waiting) .canvas-toggle { opacity: 0.2; }
.audio-container:not(.ready):not(.error):not(.waiting) .loader { display: block; }
.audio-container.waiting .tracks, .audio-container.waiting .main-control, .audio-container.waiting .canvas-toggle { opacity: 0.2; }
.audio-container.waiting .loading-link { display: block; }
.audio-container.error .tracks { opacity: 1; }
.audio-container.error .main-control, .audio-container.error .tracks .control, .audio-container.error .canvas-toggle { opacity: 0.2; }
.audio-container.error .track.error .track-name { color: #9b0000; }
.audio-container.error .track.error .status { display: block; }
.audio-container canvas { display: block; height: 0; width: 100%; overflow: hidden; background: #444; -webkit-box-shadow: inset 0 0 10px black; -moz-box-shadow: inset 0 0 10px black; box-shadow: inset 0 0 10px black; border-top: 1px solid #FCFCFC; }
.audio-container .canvas-toggle { display: block; height: 10px; border-top: 1px solid #555; background: #444; text-align: center; color: #EEE; font-size: 9px; line-height: 10px; text-decoration: none; font-weight: bold; }
.audio-container ul.tracks { width: 100%; }
.audio-container ul.tracks > li { padding: 3px; overflow: hidden; *zoom: 1; clear: both; position: relative; color: #4b4b4b; line-height: 30px; border-width: 1px; border-style: solid; border-color: #CCC; background-color: #E2E2E2; }
.audio-container ul.tracks > li:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
* html .audio-container ul.tracks > li { height: 1px; }
.audio-container ul.tracks > li:visited { color: #4b4b4b; }
.audio-container ul.tracks > li:focus { color: #f4dbac; }
.audio-container ul.tracks > li:hover { color: #f4dbac; }
.audio-container ul.tracks > li:active { color: #f4dbac; }
body.high-graphics .audio-container ul.tracks > li { -webkit-box-shadow: inset 0 0 15px #cccccc; -moz-box-shadow: inset 0 0 15px #cccccc; box-shadow: inset 0 0 15px #cccccc; }
.audio-container ul.tracks > li:last-child { border-width: 1px; }
.audio-container ul.tracks > li.playing { background-color: #2F2F2F; border-color: #363636 #111 #000 #111; }
body.high-graphics .audio-container ul.tracks > li.playing { -webkit-box-shadow: inset 0 0 15px #222222; -moz-box-shadow: inset 0 0 15px #222222; box-shadow: inset 0 0 15px #222222; }
.audio-container ul.tracks > li.locked li.mute a, .audio-container ul.tracks > li.solo li.mute a { opacity: 0.2; }
.audio-container ul.tracks > li.locked li.solo a, .audio-container ul.tracks > li.solo li.solo a { background-color: #E2E2E2 !important; border-color: #E2E2E2 !important; }
.audio-container ul.tracks > li .color { display: block; width: 20px; height: 100%; position: absolute; top: 0; right: 0; }
.audio-container audio { height: 0; overflow: hidden; line-height: 0; width: 0; display: none !important; }
.audio-container .track-name { padding-left: 5px; color: #4b4b4b; padding-top: 3px; }
.audio-container .main-control { padding: 0 0 8px 145px; }
.audio-container .main-control ul { width: 145px; left: 0; top: 0; }
.audio-container .main-control .timebar-wrapper { height: 30px; position: relative; background: #DDD; border: 1px solid #CCC; }
.audio-container .main-control .timebar-wrapper .timebar { height: 30px; max-width: 100%; min-width: 0; width: 1px; left: 0; top: 0; background: #444; border-right: 1px solid #EEE; }
.audio-container.canvas-opened canvas { height: 300px; }

[containers="2"] > .audio-container, [containers="3"] > .audio-container, [containers="4"] > .audio-container, [containers="5"] > .audio-container { border-width: 1px 0; float: left; margin: 0; -moz-box-sizing: border-box; box-sizing: border-box; }

[containers="2"] > .audio-container { width: 50%; }

[containers="3"] > .audio-container { width: 33%; }

[containers="4"] > .audio-container { width: 25%; }

[containers="5"] > .audio-container { width: 20%; }

@-webkit-keyframes loading { 0% { -webkit-transform: rotate(0deg) translateZ(0); }
  100% { -webkit-transform: rotate(360deg) translateZ(0); } }

@-moz-keyframes loading { from { -moz-transform: rotate(0deg) translateZ(0); }
  to { -moz-transform: rotate(360deg) translateZ(0); } }

.high-graphics .audio-container:not(.ready) .loader { animation-name: loading; animation-duration: 1s; animation-iteration-count: infinite; animation-direction: normal; animation-timing-function: ease-in; -webkit-animation-name: loading; -webkit-animation-duration: 2s; -webkit-animation-iteration-count: infinite; -webkit-animation-direction: normal; -webkit-animation-timing-function: ease-in; -moz-animation-name: loading; -moz-animation-duration: 2s; -moz-animation-iteration-count: infinite; -moz-animation-direction: normal; -moz-animation-timing-function: ease-in; }

@-webkit-keyframes error { 0% { -webkit-transform: rotate(0deg) translateZ(0); opacity: 1; }
  20% { -webkit-transform: rotate(10deg) translateZ(0); opacity: 0.8; }
  80% { -webkit-transform: rotate(-10deg) translateZ(0); opacity: 0.9; }
  100% { -webkit-transform: rotate(0deg) translateZ(0); opacity: 1; } }

@-moz-keyframes error { 0% { -moz-transform: rotate(0deg) translateZ(0); opacity: 1; }
  20% { -moz-transform: rotate(10deg) translateZ(0); opacity: 0.8; }
  80% { -moz-transform: rotate(-10deg) translateZ(0); opacity: 0.9; }
  100% { -moz-transform: rotate(0deg) translateZ(0); opacity: 1; } }

.high-graphics .track.error .status { animation-name: error; animation-duration: 1s; animation-iteration-count: infinite; animation-direction: normal; animation-timing-function: ease-in; -webkit-animation-name: error; -webkit-animation-duration: 2s; -webkit-animation-iteration-count: infinite; -webkit-animation-direction: normal; -webkit-animation-timing-function: ease-in; -moz-animation-name: error; -moz-animation-duration: 2s; -moz-animation-iteration-count: infinite; -moz-animation-direction: normal; -moz-animation-timing-function: ease-in; }

.basic-expandable > *:nth-child(2), .expandable > *:nth-child(2) { display: none; overflow: hidden; border-left: 10px solid transparent; }
.basic-expandable.closed > *:nth-child(2), .closed.expandable > *:nth-child(2) { display: none !important; overflow: hidden; }
.basic-expandable.opened > *:nth-child(2), .opened.expandable > *:nth-child(2) { display: block; height: auto !important; border-left: 10px solid #dddddd; }
.basic-expandable:not(.opened) .audio-container, .expandable:not(.opened) .audio-container { padding: 0; }
.basic-expandable .icon-expand, .expandable .icon-expand, .basic-expandable .icon-reduce, .expandable .icon-reduce { position: absolute; top: 50%; margin-top: -4px; right: 10px; }
.basic-expandable .icon-reduce, .expandable .icon-reduce { display: none; }

.icon-expand, .icon-reduce { width: 20px; height: 10px; display: inline-block; }

.icon-reduce { background-position: -322px -2px; }

.icon-expand { background-position: -322px -12px; }

.opened.basic-expandable > a .icon-expand, .opened.expandable > a .icon-expand { display: none; }
.opened.basic-expandable > a .icon-reduce, .opened.expandable > a .icon-reduce { display: inline-block; }

.high-graphics .basic-expandable > *:nth-child(2), .high-graphics .expandable > *:nth-child(2) { display: block; }
.high-graphics .basic-expandable.opened > *:nth-child(2), .high-graphics .opened.expandable > *:nth-child(2) { -webkit-animation: open-sub-expand 0.5s 0s ease both; -moz-animation: open-sub-expand 0.5s 0s ease both; -ms-animation: open-sub-expand 0.5s 0s ease both; -o-animation: open-sub-expand 0.5s 0s ease both; animation: open-sub-expand 0.5s 0s ease both; }
.high-graphics .basic-expandable:not(.opened) > *:nth-child(2), .high-graphics .expandable:not(.opened) > *:nth-child(2) { -webkit-animation: close-sub-expand 0.5s 0s ease both; -moz-animation: close-sub-expand 0.5s 0s ease both; -ms-animation: close-sub-expand 0.5s 0s ease both; -o-animation: close-sub-expand 0.5s 0s ease both; animation: close-sub-expand 0.5s 0s ease both; }
.high-graphics .basic-expandable > :first-child a .icon-expand, .high-graphics .expandable > :first-child a .icon-expand { display: inline-block; }

.high-graphics .icon-reduce, .high-graphics .opened.basic-expandable > :first-child a .icon-reduce, .high-graphics .opened.expandable > :first-child a .icon-reduce { display: none; }
.high-graphics .opened.basic-expandable > :first-child a .icon-expand, .high-graphics .opened.expandable > :first-child a .icon-expand { display: inline-block; -webkit-transform: rotateZ(180deg); -moz-transform: rotateZ(180deg); -ms-transform: rotateZ(180deg); -o-transform: rotateZ(180deg); transform: rotateZ(180deg); }

.expandable { width: 100%; padding: 0 !important; margin: 0; overflow: hidden; box-sizing: border-box; position: relative; }
.expandable > :first-child a { text-decoration: none; font-family: Helvetica, Arial; color: #444; background-color: #EEE; border-top: 1px solid white; border-left: 10px solid #EEE; float: none; }
.expandable > :first-child a:after { display: none !important; }
.expandable.opened > :first-child a { background-color: #dddddd; border-color: #dddddd; color: black; }

.expandable > :first-child a { clear: both; padding: 10px 21px 10px 10px; display: block; }

@media screen and (max-width: 900px) { [containers] > .audio-container { width: 100% !important; float: none; box-sizing: border-box; } }
@media screen and (-webkit-device-pixel-ratio: 2) { .bkg-picto, .control-list > li > a, .audio-container ul.tracks > li ul > li > a, .audio-container .main-control ul > li > a, .control-list > li.solo a span, .audio-container ul.tracks > li ul > li.solo a span, .audio-container .main-control ul > li.solo a span, .audio-container .loader, .audio-container .loading-link, .audio-container .status, .icon-expand, .icon-reduce { background-image: url(../i/bkgHighRes.png); background-size: auto 60px; } }
@media screen and (-webkit-device-pixel-ratio: 1.5) { .bkg-picto, .control-list > li > a, .audio-container ul.tracks > li ul > li > a, .audio-container .main-control ul > li > a, .control-list > li.solo a span, .audio-container ul.tracks > li ul > li.solo a span, .audio-container .main-control ul > li.solo a span, .audio-container .loader, .audio-container .loading-link, .audio-container .status, .icon-expand, .icon-reduce { background-image: url(../i/bkgLowRes.png); background-size: auto 60px; } }
